@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Roboto Slab", serif;
  background-color: #1f1f1f;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #ffffff;
  outline: none;
  transition: all 0.3s ease;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.2em;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #949292;
  transition: all 0.3s ease;
  pointer-events: none;
  user-select: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.2em;
}

.input-focus .placeholder,
input[type="text"]:focus + .placeholder,
textarea:focus + .placeholder {
  top: -15px;
  font-size: 1em;
  color: #ffffff;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #525252;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b6b6b;
}

.made-by {
  position: fixed;
  bottom: 0.5%;
  right: 0.5%;
  display: flex;
  align-items: center;
}

.made-by img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.made-with-love {
  margin: 0;
}
